*,
*:after,
*:before {
    box-sizing: border-box;
}

html{
	font-family: 'Open Sans', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: 14px;
	line-height: 1.2;
	color: #555555;
}

header{
	background-color: #ffffff;
	padding: 16px 0;
}

.container{
    padding: 0 100px;
	margin: 0 auto;
	max-width: 1200px;
}

.header .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1400px;
}

.nav_box{
	display: flex;
	align-content: center;
}

.nav_list{
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.nav_link{
    margin-left: 30px;
    position: relative;
}

.nav_link a{
	text-decoration: none;
	color: inherit;
}

.nav_link a:hover{
    color: #5363db;
}

.border:hover::before{
	position:absolute; 
	left: 0; 
	bottom: -6px; 
	right: 0;
	margin: auto;
	width: 50%;
	border-bottom: 1px solid #5363db;
	content:"";
}

main .container{
	text-align: center;
	background-image: url('../img/images/bg-01.jpg');
	max-width: 100%;
	padding: 80px 400px;
}

.form_title{
	display: flex;
}

form{
	text-align: left;
	background-image: none;
	background-color: #ffffff;
    width: 300px;
	box-shadow: 8px 8px 10px rgba(0,0,0, 0.15);
	border-radius: 20px;
	padding: 40px 30px 35px;
	margin: 0;
}

form h2{
	font-size: 26px;
	color: #5363db;
	margin: 0 0 13px;
	padding: 0;
}

.user{
	width: 100%;
	margin: 17px 0 0 0;
	border: none;
	background-color: #f2f2f2;
	border-radius: 10px;
}

input[type=text],
input[type=tel],
select[name=class] {
	padding: 20px 0 20px 10px;
}

::placeholder{
	color: #888888;
}

select{
	outline: 0;
	box-shadow: none;
	border: 0!important;
	background: #f2f2f2;
	background-image: none;
	flex: 1;
	padding: 0 .5em;
	color: #888888;
	cursor: pointer;
}

.button_area{
	text-align: right;
	margin-top: 30px;
}

.form_button{
	min-width: 170px;
	border-radius: 10px;
	padding: 18px 32px 20px;
	background-color: #5363db;
	color: #ffffff;
	border: none;
	
}

